<div class="Admin">
  <h1 class="Admin-title">ADMIN</h1>
</div>
<div class="NewMenu">
  <div class="Dash" >
    <form method="get" action="/users/1" method="GET">
      <button class="Dash-button" type="submit">DASHBOARD </button>
    </form>
    <form method="get" action="/menu/new" method="GET">
      <button class="Dash-button" type="submit">Manage Menus </button>
    </form>
    <form method="get" action="/users/1" method="GET">
      <button class="Dash-button" type="submit">Manage Users </button>
    </form>
    <form method="get" action="/users/1" method="GET">
      <button class="Dash-button" type="submit">Manage Orders</button>
    </form>
    <form method="get" action="/users/1" method="GET">
      <button class="Dash-button" type="submit">My account </button>
    </form>
  </div>
  <article class="AdminControl">

  <a href="#test">Section</a>

    <section class="AdminControl-section">
      <h2 class="MenuSection-title">Add Menu:</h2>
      <%= form_with(url: "/menu", method: "post") do%>
        <div>
          <label>Menu Name:</label>
          <input type="text", name="menu_name", placeholder="New menu name" >
        </div>
        <input type="submit", value="Add">
      <% end %>
    </section>

    <section class="AdminControl-section">
      <h2 class="MenuSection-title">New Menu-Item:</h2>
      <%= form_with(url: "/menu_items", method: "post") do%>
        Select Menu Type :
        <select name="menu_id">
          <% Menu.all.each do |menu| %>
            <option value="<%= menu.id %>"><%= menu.menu_name %></option>
          <% end %>
        </select>

        <div>
          Item name:
          <input type="text", name="menu_item", placeholder="New item name" >
        </div>
        <div>
          Item price: $
          <input type="integer", name="price" , placeholder=" price" >
        </div>
        <input type="submit", value="Add" >
      <% end %>
    </section>

    <section class="AdminControl-section">
      <h2 class="MenuSection-title">Edit:</h2>
      <%= form_with(url: "/menu/new#test", method: "get") do %>
        Select Menu Type :
        <select name="menu_id">
          <option value="false">--select-menu--</option>
          <% Menu.all.each do |menu| %>
            <option value="<%= menu.id %>"><%= menu.menu_name %></option>
          <% end %>
        </select>
        <input type="button", value="Get", Onclick="this.form.submit()" >
      <% end %>
      <% if @id %>
      <div id="test" class="MenuItem-container">
        <h1 class="MenuSection-title"> <%= Menu.find(@id).menu_name %> </h1>
        <%= link_to(menu_path(@id), method: "get") do %>
          <%= content_tag("i",nil,class:  "fa fa-edit") %>
        <% end %>
        <%= link_to(menu_path(@id), method: "delete") do %>
          <%= content_tag("i",nil,class:  "fa fa-trash") %>
        <% end %>
      </div>
        <ul class="MenuItem">
          <% MenuItem.where(menu_id: @id).each do |menu_item| %>
            <li class="MenuItem-list">
              <label class="MenuItem-container">
                <p><%=menu_item.menu_item %></p>
                <p class="MenuItem-price"> Rs. <%= menu_item.price %></p>
                <%= form_with(url: "/menu_items/#{menu_item.id}", method: "get") do %>
                  <input type="hidden" name="edit" value="<%= menu_item.id %>">
                  <input class="AddButton" type="button" Onclick="this.form.submit()" value="Edit">
                <% end %>
                <%= form_with(url: "/menu_items/#{menu_item.id}", method: "delete") do %>
                  <input type="hidden" name="delete" value="<%= menu_item.id %>">
                  <input class="AddButton" type="button" Onclick="this.form.submit()" value="Delete" >
                <% end %>
              </label>
            </li>
          <% end %>
        </ul>
      <% end %>
    </section>
  </article>
</div>
