
<p><%= @k=MenuItem.no %></p>

<form  action="/menu_items" method="get">

  Select your favorite menu:

  <select id="mySelect" name="menu_no" >


  <% if MenuItem.no %>
<p><%= MenuItem.no %></p>
 <option> <%= Menu.find(MenuItem.no).menu_name%> </option>
 <option>--select Menu--  </option>
<% else %>
  <option> --select Menu-- </option>

<% end %>
<% MenuItem.active_menus.each do |menu| %>


  <option type= "button" name="menu_no" onclick= "this.form.submit()" value= "<%= menu.id %>" > <%= menu.menu_name%> </option>



    <% end%>
  </select>

</form>
<% if MenuItem.no %>
<p><%= MenuItem.no %></p>
<% else %>
<p>k</p>

<% end %>
<form>
  Select your favorite fruit:
  <select id="mySelect" name="menu_no" >
  <option> ---Select Menu Items--- </option>
<% MenuItem.menu_items(MenuItem.no).each do |menu| %>
    <option  value= "<%= menu.id %>" > <%= menu.menu_item%> </option>

    <% end%>
  </select>
</form>
