<div class="EditMenuPage">
  <p class="EditMenu-title">Edit Menu-Item</p>
  <section class="EditMenu">
    <%= form_with(url: "/menu_items/#{@menu_item.id}", method: "patch") do %>
      <div class="Form-section">
        <p class="Form-section-label">Menu-Item</p>
        <input type="text" name="new_menuitem_name" value="<%= @menu_item.menu_item %>">
      </div>
      <div class="Form-section">
        <p class="Form-section-label">Price</p>
        <input type="text" name="new_menuitem_price" value="<%= @menu_item.price %>">
      </div>
      <div class="Form-section">
        Select Menu Type :
        <select name="new_menuitem_menu_id">
          <% Menu.all.each do |menu| %>
            <option value="<%= menu.id %>"><%= menu.menu_name %></option>
          <% end %>
        </select>
      </div>
      <div class="Form-section">
        <input type="button" Onclick="this.form.submit()" value="Update" >
      </div>
   <%end%>
  </section>
</div>
