 <div class="MenuBar">
<%= render partial: "form-section" ,locals:{form_action: "/menu" ,form_value: "Menus",form_method: "GET" }%>
<form method="get" action="/users/1" method="GET">
    <button class="MenuBar-button" type="submit">My account </button>
</form>
<p class="User-credentials"> Hello! User </p>
<form method="get" action="/cart_items" method="GET">
    <button  class="MenuBar-button" type="submit">View Cart</button>
</form>
<%= render partial: "form-section" ,locals:{  form_action: "/order" , form_value: "My Orders",form_method: "GET" }%>

<%= render partial: "form-section" ,locals:{  form_action: "/signout" ,form_value: "SignOut", form_method: "Delete" }%>
</div>

<div class="Menus">


<hr class="Cafeteria-header-line">
  <h1 class="MenuPageTitle">Cart</h1>


</div>


<table class="OrderCart">
	<thead>
	<tr>
		<th>S No.</th>
		<th>Items</th>
		<th>Price</th>
		<th>Quantity</th>
		<th>Total</th>
		<th>action</th>
	</tr>

	</thead>
	<tbody>
	<% CartItem.all.each_with_index do |cart_item,i|%>
	<tr>
		<td><%= i+1	 %> </td>
		<td> <%= cart_item.cart_item%> </td>
		<td> <%= cart_item.cart_item_price%> </td>
		<td> <%= cart_item.item_quantity %> </td>
		<td> <%= cart_item.item_quantity * cart_item.cart_item_price %> </td>
		<td>
				<%= link_to "remove", "/cart_items/#{cart_item.id}" ,method: "delete" %>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>
<h2 class="OrderDetails-title">Amount:</h2>
<p><%= CartItem.amount %></p>
<section class="OrderDetails">
  <div class="OrderType">
  	<h2 class="OrderDetails-title">Select Order Type:</h2>
    	<select id="Payment-type" name="Payment-type">
   		 <option value="Cash">Dine-In</option>
   		 <option value="Google pay">Pick-up</option>
   		 <option value="EatUp Wallet">Delivery</option>
 		 </select>
 	 </div>
	<form  action= "/order" method="POST">
          <input  class="OrderButton" type="submit" value="Place Order" >
</form>

</section>
<img src="order.png" alt="Order" class="OrderBanner">
